<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon
          name="hourglass-outline"
          slot="start"
          color="warning"
        ></ion-icon>
        <ion-label>
          On Hold
          <p>2023/06/26 12:46</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 2023/26/1:28</p>
          <p>
            Notes: We have two bags that are full. One with plastic and other
            with glass
          </p>
        </ion-label>
      </ion-item>
      <ion-button color="success" fill="clear" size="full"
        >see all....</ion-button
      >
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon
          name="archive-outline"
          slot="start"
          color="secondary"
        ></ion-icon>
        <ion-label>
          Processing
          <p>2023/06/26 12:46</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 2023/27/06 1:28</p>
          <p>
            Notes: We have two bags that are full. One with plastic and other
            with glass
          </p>
        </ion-label>
      </ion-item>
      <ion-button color="success" fill="clear" size="full"
        >see all....</ion-button
      >
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon
          name="checkmark-circle-outline"
          slot="start"
          color="primary"
        ></ion-icon>
        <ion-label>
          Finished
          <p>2023/06/28 12:46</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="trophy" slot="start" color="success"></ion-icon>
        <ion-label color="success">
          <p>$15</p>
        </ion-label>
      </ion-item>
      <ion-button color="success" fill="clear" size="full"
        >see all....</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
