<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <app-pickup-call-card
      status="hold"
      updatedAt="2023/06/28 16:40"
      createdAt="2023/06/27"
      notes="We have two bags that are full., one with plastic and the other with glasses"
    >
    </app-pickup-call-card>
    <app-pickup-call-card
      status="processing"
      updatedAt="2023/06/28 16:40"
      createdAt="2023/06/27"
      notes="We have two bags that are full"
    ></app-pickup-call-card>
    <app-pickup-call-card
      status="finished"
      updatedAt="2023/06/28 16:40"
      createdAt="2023/06/27"
      value="$15.00"
    ></app-pickup-call-card>
  </ion-card>
</ion-content>
