<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="map" src="assets/icon/images-map.jpeg" alt="" width="99%" />
  <ion-card>
    <ion-card-content>
      Addrees: Fake Street, <br />
      111 Appartment: Anything, AnyWhere <br />
      Neighborhood: All good <br />
      Zip Code: XXY V3N <br />
      City Name: City <br />
      Country: Country<br />
    </ion-card-content>
  </ion-card>
  <ion-list lines="inset">
    <ion-item class="oversize">
      <ion-textarea
        label="Notes"
        labelPlacement="floating"
        fill="outline"
      ></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pickup call</ion-button>
</ion-content>
